@{
    ViewData["Title"] = "Créditos";
}
<h1>@ViewData["Title"]</h1>
<br/>
<h5>Dashboard responsive hecho por <a href="https://www.linkedin.com/in/jonathan-merlino/">Jonathan Leonel Merlino</a>.</h5>
<br/>
<h5>Dependencias utilizadas:</h5>
<p>
    <h6><a href="https://getbootstrap.com/">Bootstrap</a></h6>
    <h6><a href="https://www.chartjs.org/">Chart.js</a></h6>
    <h6><a href="https://xdsoft.net/jqplugins/datetimepicker/">DateTimePicker</a></h6>
    <h6><a href="https://picsum.photos/">Lorem Picsum</a></h6>
    <h6><a href="https://datatables.net/">DataTables</a></h6>
</p>